body {
    background-color: #F4F5F7;

    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    background-color: #C4C4C4;
}

header .split {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
}

header .left {
    flex-basis: 33%; 
    height: 100%;
}

header .center {
    flex-basis: 34%; 
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center; 

    text-decoration: underline;  
}

header .right {
    flex-basis: 33%; 
    height: 100%;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header .right .login {
    flex-basis: 50%; 
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center; 
}

header .right .bag {
    flex-basis: 50%; 
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center; 
}

header .right img {
    margin-left: 10px;
    margin-right: 10px;
}


main {
    width: 90%;
    margin: 0 auto; 
}

#title {
    margin-top: 30px;
    margin-bottom: 30px;
}

#title h1 {
    text-align: center;
    font-size: xx-large;
}


#navigation {
    height: 100px;
    width: 50%;
    margin: 0 auto; 
}

#navigation nav ul {
  display: flex;    
  list-style: none;   
  justify-content: space-between; 

  align-items: center;  
  padding: 0;           
  margin: 0; 
}

#navigation nav ul a {
    text-decoration: none;  
    color: inherit;    
}

#navigation nav ul li {
    margin-right: 20px;  
}

#jumbotron {
    text-align: center; 
}

#jumbotron-info {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

#jumbotron-info button{
    width: 224px;
    background-color: #00000000;
}

#jumbotron-info h2 {
    /* SUMMER 2021 */

    font-family: 'Modern No. 20', sans-serif;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;

}

#arrivals {
    height: 600px;
    display: flex;    
    list-style: none;   
    justify-content: space-between; 
}

.three-image .left {
    height: 100%;
    flex-basis: 33%;

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.three-image .color {
    width: 100%;
    margin-top : 10px;
    margin-left : 100px;
    color : #848484;

}

.three-image .title {
    width: 100%;
    margin-top : 10px;
    margin-left : 100px;
}

.three-image .center {
    height: 100%;
    flex-basis: 33%;

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.three-image .right {
    height: 100%;
    flex-basis: 33%;

    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

#woman {
    display: flex;
    justify-content: center;
    align-items: center; 

    height: 700;
}

#woman .left {
    flex-basis: 33%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#woman .left .up {
    flex: 0 0 70%;
}

#woman .left .down {

    display: flex;
    flex-direction: column;
    flex: 0 0 30%; 
}

#woman .left .down  button {
    width: 200px;
    height: 50px;
    background-color: #00000000;
    text-align: center;    
}

#woman .left .down .title {
    font-size: x-large;
    font-weight: bold;

}

#woman .left .down p {
width: 50%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #000000;


}

#woman .right {
    height: 100%;
    flex-basis: 67%;

    text-align: center;
}


#man {
    height: 600px;
    display: flex;    
    list-style: none;   
    justify-content: space-between; 
}

#sale {
    position: relative;
    background-color: lightskyblue;
    text-align: center  ;
}

#sale .hover-info {
    position: absolute;
    text-align: center;
    width: 220;
    height: 100px;

    bottom: 50px;
    right: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#sale .hover-info .title {
    flex: 0 0 50%;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    color: white;
    font-size: large;
    font-weight: bold;
}

#sale .hover-info .button {
    flex: 0 0 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#sale .hover-info .button button {
    width: 100%;
    height: 100%;
    background-color: white;
}

footer {
    margin-top: 20px;
    height: 250px;
    background-color: white;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer .item {
    margin: 5px;
    width: 100%;
}

footer .title {
    font-weight: bold;
}

footer .company {
    flex-basis: 20%;
    height: 100%;

    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center; 

    margin-top: 20px;
    margin-left: 20px;
}

footer .legal {
    flex-basis: 30%;
    height: 100%;

    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center; 

    margin-top: 20px;
    margin-left: 20px;
}

footer .empty {
    flex-basis: 15%;
    height: 100%;
}

footer .follow {
    flex-basis: 20%;
    height: 100%;
}