body {
    margin: 0;
    padding: 0;
}

section {
    padding-left: 20px;
    padding-right: 40px;
}

.section-divider{
    margin-top: 50px;
    margin-bottom: 50px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotron {
    background-color: #EDECFF;
    height: 600px;
 }

.navigation {

   height: 50px;
   display: flex;
}

.navigation .left {
    flex-basis: 20%;
    font-size: xx-large;
}

.navigation .center {
    flex-basis: 60%;
}

.navigation .center nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.navigation .right {
    flex-basis: 20%;
}

.navigation .right button {
    width: 120px;
    height: 30px;
}

#jumbotron .content {
 height: 100%;

 display: flex;
}

#jumbotron .content .left {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
}

#jumbotron .content .left .top {
    flex-basis: 50%;
}

#jumbotron .content .left .top .title {
    font-size: xx-large;
}

#jumbotron .content .left .bottom {
    flex-basis: 50%;

    /* Don't waste time and join our community of authors! Share your knowledge and experience with our readers and get the opportunity to become a part of our professional and creative team! */
}

#jumbotron .content .left .bottom .content {

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #333333;

margin: 40px;
}

#jumbotron .content .right {
    flex-basis: 50%;

    display: flex;
}

#jumbotron .content .right .img-left {
    flex-basis: 33.33%;
}

#jumbotron .content .right .img-center {
    flex-basis: 33.33%;
}

#jumbotron .content .right .img-right {
    flex-basis: 33.33%;
}

 #popular {
    background : white; 
    height: 200px;

    display: flex;
    flex-direction: column;
 }

 #popular .top {
    height: 100px;
    flex-basis: 50%;

    display: flex;
    justify-content: left;
    align-items: center;
 }

 #popular .top .title {
    font-size: xx-large;
    margin-left: 40px;
 }

 #popular .bottom {
    height: 100px;
    flex-basis: 50%;

    display: flex;
 }

 #popular .bottom .left {
    flex-basis: 33.33%;
    
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #popular .bottom .center {
    flex-basis: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 #popular .bottom .right {
    flex-basis: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 #categories {
 }

 #categories nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#categories table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

#categories .left {
}

#categories .right {
}


 #submitted .title {
    height: 50px;

    font-size: xx-large;
 }

 .article {
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .article table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
 }

 .article .image {
 }

 .article .description {
 }

 #ending {
    height: 100px;
    background-color: #EDECFF;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
 }

 #footer {
    height: 100px;
 }

 #footer table {
    table-layout: fixed;
    width: 100%;
 }

 #footer nav ul {
    display: flex;

    justify-content: space-around;
    align-items: center;
    list-style: none;
 }

 .works {
    display: flex;
    width: 80%;
 }

 .works .image {
    display: flex;
 }

 .works .description {
    display: flex;
    flex-direction: column;
 }

 .works .title {
    flex-basis: 50%;
 }

 .works .detail {
    flex-basis: 50%;
 }